<h1>with_params</h1>
<ul>
  <li>param: <%= param %></li>
  <li>anotherparam: <%= anotherparam %></li>
  <li>params: <%= params.param %>/<%= params.anotherparam %></li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit odit doloremque repudiandae, inventore ipsam a aut, fuga eveniet ratione recusandae distinctio dicta nulla saepe deleniti aliquid adipisci commodi sint eligendi.</p>